.logo-image {
  display: block;
  margin: 0 auto;
  max-width: 150px;
  margin-top: 15px;
}
footer {
  font-size: 15px;
  margin: 0 auto;
}

a {
  color: #6b62ff;
}

body {
  background-color: white;
  background-image: url("./back_image.png");
  background-repeat: no-repeat;
  background-position: top 350px right;
  background-size: 300px;
  background-attachment: fixed;
}
